# Desktop cloud backend switch.
#
# Copy this file to `.env`, then change the value before running:
#   npm run start
#   npm run package
#   npm run make
#
# Local backend:
IPM_CLOUD_BASE_URL=http://127.0.0.1:4210
#
# Remote backend example:
# IPM_CLOUD_BASE_URL=http://101.133.152.142:4210
